.menu section{

  width: 1100px;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;

  padding: 20px 0;

}


.menu section img + img {
  width: 348px;
  height: 53px;

}

.header {
  height: 600px;

  background-image: url('./../images/header_background.jpg');
  background-size: cover;
  background-position: left center;

  display: flex;
  justify-content: center;
  align-items: center;

}

.header section {
  width: 900px;

  display: flex;
  justify-content: flex-end;

}

.header h1 {
  color: #294481;
  font-size: 50px;

  line-height: 1em;
}

.especialidades {
padding: 90px 0;

background-color: #2E508E;
}

.especialidades section {
  width: 900px;
  margin: 0 auto;

  margin-top: -170px;
}

.especialidades section h3 {
color: #2E508E;
text-transform: uppercase;
font-size: 20px;
font-weight: bold;
margin-bottom: 20px;
}

.especialidades section .card {
  margin: 0 10px;
}

.especialidades .card-especialidades {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 5px 20px rgba(0,0,0,.3);
}

.especialidades .card-especialidades img {
  width: 32%;
}


/*  */

  .seu-coracao {
  padding: 120px 0;
  }

.seu-coracao section {
  width: 900px;
  margin: 0 auto;
}

.seu-coracao section h2 {
  font-weight: bold ;
  color: #2E508E;
}


.seu-coracao section button {
  border: none;
  padding: 20px;

  background-color: #2E508E;

  color: white;
  text-transform: uppercase;

  border-radius: 8px;
}

.seu-coracao section img {
  border-radius: 8px;
}


/*  */

  .equipe {
  background-color: #2E508E;
  }
  
  .equipe section {
    width: 900px;
    margin: 0 auto;
  }
  
  .equipe section .row {

    padding: 150px 0

  }
  .equipe section h2 {
    text-align: center;
    text-transform: uppercase;

    padding-top: 50px;
    color: white;

  }

  .equipe section h3 {
    margin-top: 20px;
  }
  

  .equipe-img-wrapper {
    padding: 20px;
    background-color: white;
    width: 85%;

    margin: 0 auto;
    margin-top: -120px;
    border-radius: 50%;

  }
  .equipe-img-wrapper img {
    border-radius: 50%;
  }

  .card-equipe {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 5px 20px rgba(0,0,0,.3);
  }

  .convenios section {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 100px 0;
  }

  .convenios section h2 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

    .convenios section .swiper-slide {
      background-color: white;
      border-radius: 16px;
      box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.17);
    }

    .convenios section .swiper-wrapper {
      padding: 50px 0;
    }

    .convenios section .swiper-wrapper img {
      border-radius: 8px;
    }

    .contato {
    background-color: #294481;
    padding: 120px 0;
    }

    .contato section {
      width: 900px;
      margin: 0 auto;
    }  
    .contato section h2,
    .contato section h3,
    .contato section p
    {
      color: white;
    }


    .localizacao {
      background-image:  url('./../images/bg_map.jpg');
      height: 500px;
    }



  .footer section{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #2E508E;
    color: white;
    padding: 10px;
  }

