.menu section{

  width: 1100px;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;

  padding: 20px 0;

}


.menu section img + img {
  width: 348px;
  height: 53px;

}

.header {
  height: 600px;

  background-image: url('./../images/header_background.jpg');
  background-size: cover;
  background-position: left center;

  display: flex;
  justify-content: center;
  align-items: center;

}

.header section {
  width: 900px;

  display: flex;
  justify-content: flex-end;

}

.header h1 {
  color: #294481;
  font-size: 50px;

  line-height: 1em;
}

.especialidades {
padding: 90px 0;

background-color: #2E508E;
}

.especialidades section {
  width: 900px;
  margin: 0 auto;

  margin-top: -170px;
}

.especialidades section h3 {
color: #2E508E;
text-transform: uppercase;
font-size: 20px;
font-weight: bold;
margin-bottom: 20px;
}

.especialidades section .card {
  margin: 0 10px;
}

.especialidades .card-especialidades {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 5px 20px rgba(0,0,0,.3);
}

.especialidades .card-especialidades img {
  width: 32%;
}



/*  */

.equipe {
  padding: 90px 0;
  }
  
  .equipe section {
    width: 900px;
    margin: 0 auto;
  }
  
  .equipe section h2 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  
  .equipe section .card {
    margin: 0 15px;
  }

  .convenios section {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .convenios section h2 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .footer section{

    display: flex;
    justify-content: center;
    align-items:center;

background-color: #2E508E;
color: white;
padding: 10px;
  }

