.nav {
   height: 70px;
   background-color: #EDEDED;
}

.header {
   height: 600px;
   background-color: #dddddd;
}

.especialidades {
   padding: 90px 0;
}

.especialidades section {
   width: 900px;
   margin: 0 auto;
}

.especialidades section h2 {
   text-align: center;
   margin-bottom: 50px;
   text-transform: uppercase;
}

.especialidades section .card {
   margin: 0 15px;
}

/*  */
.equipe {
   padding: 90px 0;
}

.equipe section {
   width: 900px;
   margin: 0 auto;
}

.equipe section h2 {
   text-align: center;
   margin-bottom: 50px;
   text-transform: uppercase;
}

.equipe section .card {
   margin: 0 15px;
}
/*  */

.convenios {
   margin-bottom: 100px;
}
.convenios section {
   max-width: 1100px;
   margin: 0 auto;
}

.convenios section h2 {
   text-align: center;
   margin-bottom: 50px;
   text-transform: uppercase;
}

.seu-coracao {
   background-color: #EDEDED;
   padding: 90px 0;
}
.seu-coracao section {
   max-width: 900px;
   margin: 0 auto;
}


.contato {
   padding: 90px 0;
}


.contato section {
   max-width: 900px;
   margin: 0 auto;
}

.contato section h2 {
   margin-bottom: 50px;

}

.contato section span {
   display: flex;
}

.contato section p {
   font-size: 22px;
}

.contato section span img {
   height: 30px;
   width: 30px;
   margin-right: 10px;
}

.contato form {
   margin-top: 50px;
}

.localizacao section {
   margin: 0 auto;
}

.localizacao {
   padding: 0;
}

.footer {
   background-color: #C6C6C6;
   padding: 0;
   height: 60px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.footer p {
   color: white;

}

